/* Reset Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

button, input {
  border: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
    --color-slate-900: #1F314F;
    --color-slate-500: #68778D;
    --color-slate-300: #D5E1EF;
    --color-white: #ffffff;

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;

    
}

body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  background-color: var(--color-slate-300);
}

.outfit-bold {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--color-slate-900);
}

.outfit-regular {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--color-slate-500);
}

.card-wrapper {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  align-items: flex-start;
  padding: 16px 16px 40px;
  gap: 24px;
  text-align: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
  margin: auto;
}

.qr-code {
  border-radius: 10px;
  overflow: clip;
}
